<!DOCTYPE html>

<html>
<head>
    <title>
        About Page
    </title>
</head>

<body>
<h1><%= pageTitle %>.....!</h1>
<p>Some TEXT here..........!</p>

 I am using custom <%- include('footer') %>

</body>
</html>