<!DOCTYPE html>

<html>
<head>
    <title>
        About Page
    </title>
</head>

<body>
<h1> Welcome <%= name %> :) </h1>
<h3><%= pageTitle %>.....!</h3>
<p><%= message %></p>

<a href="/projects">Projects</a><br>

<a href="/about">About us</a><br>




  I am using custom work<%- include('footer') %>

</body>
</html>