<!DOCTYPE html>

<html>
<head>
    <title>
        About Page
    </title>
</head>

<body>
<h1>project name is :<%= title %>.....!</h1>
<p>This is my own Project!</p>

 I am using custom <%- include('footer') %>

</body>
</html>